* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 1rem;
	}
}


//Left Aside (By Luis Rocha)



