$bgcolorgris:#d6d6d7;
$colorgris: #808080;
$fontcolormorado: #3b49df;
$bgcolorHover: #efefef; 


@mixin header-de-seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    border-radius: 5px;
}
@mixin padding-textos {
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    border-radius: 5px;
    }
@mixin hover-links {
    color: $fontcolormorado;
    }

    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    
        .container {
            width: 100%;
            background-color: $bgcolorgris;
            
                .content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 1rem;
        
                    .sidebar-right{
                        display: grid;
                        max-width: min-content;
                        border: solid black;
                        border-radius: 5px; 
                        background: $bgcolorHover;
                        margin-right: 15%;
                        flex-wrap: wrap;
                        color: black;
                        
                        .crayons-card{
                            display:inline-block;
                            box-sizing: border-box;
                            line-height: 24px;
                            background:$bgcolorHover;
                            color: black;
                            @include padding-textos();
                            margin-bottom: 10px;
                                .morado{
                                    color: $fontcolormorado;
                                }
                                p{
                                    a{
                                    color: $fontcolormorado;
                                    }                            
                                }
                        }
                        .crayons-card-b{
                            @include padding-textos();
                        
                            .listings{
                                margin-bottom: 10px;
                        
                                .listings-head{
                                    @include header-de-seccion();
                                    a{
                                    color: $fontcolormorado;
                                    }
                                }
                            
                                .link-widget-b {
                                    transition: .5 ease;
                                    color: black;
                                    background-color: $colorgris;
                                    &:hover  {
                                        color: $fontcolormorado;
                                    }
                                }
                                .link-widget-b-contentful { 
                                    background-color: $colorgris;
                                    transition: .5 ease;    
                                    &:hover {
                                         background-color:$bgcolorHover ;
                                    
                                    }
                                }
                                .crayons-link_secondary{
                                    color: $colorgris;
                                           
                            
                                        
                                }
                            } 
                        
                            .news{
                            color: black;
                            }
                        }
                    
                    }
                }
        }    
        