@import "stylesCenter";

$width : 1012.44px;
$max-w : 300px;
$bgcolorgris:#d6d6d7;
$colorgris: #808080;
$fontcolormorado: #3b49df;
$bgcolorHover: #efefef; 

@mixin header-de-seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    border-radius: 5px;
}
@mixin padding-textos {
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    border-radius: 5px;
}

@mixin hover-links {	
    color: $fontcolormorado;
}


header{
	background: #fff;
}
body {
    background: #efefef;
    margin: 0;
    padding: 0;
    color: #090909;
    font-family: $font-sans;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    
    a {
        text-decoration: none;
        cursor: pointer;
    }
}

.nav-bar {    
    @include displayFlexDirectionDinamic(flex,row nowrap,space-between);
    width: 100%;
    position: sticky;
    background: white;
    max-height: 52px;
    img {
        width: 40px;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
        
}
    
.container {
    width: 100%;
    background-color: $bgcolorgris;
            
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        
        .sidebar-right{
            display: grid;
            max-width: 325.33px;
            border: solid black;
            border-radius: 5px; 
            background: $bgcolorHover;
            flex-wrap: wrap;
            color: black;
                        
            .crayons-card{
                display:inline-block;
                box-sizing: border-box;
                line-height: 24px;
                background:$bgcolorHover;
                color: black;
                @include padding-textos();
                margin-bottom: 10px;
                                
				.morado{
                    color: $fontcolormorado;
                }
				
				p{
					a{
						color: $fontcolormorado;
					}           
				}
			}
			
			.crayons-card-b{
				@include padding-textos();
				
				.listings{
					margin-bottom: 10px;
					
					.listings-head{
						@include header-de-seccion();
						
						a{
							color: $fontcolormorado;
						}
					}
					
					.link-widget-b {
						transition: .5 ease;
						color: black;
						background-color: $colorgris;						
						&:hover  {
							color: $fontcolormorado;
						}
					}
					
					.link-widget-b-contentful { 						
						background-color: $colorgris;
						transition: .5 ease;    						
						&:hover {
							background-color:$bgcolorHover ;
						}
					}
					
					.crayons-link_secondary{
						color: $colorgris;
					}
				} 
				
				.news{
					color: black;
				}
			}
		}
    }
}    
        
// General

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Roboto', sans-serif;
}
body {
	background: #efefef;
}

.container {
	width: 100%;
	.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 1rem;
	}
}

//Left Aside (By Luis Rocha)

.sidebar-left{

	.left-container{
		display: flex;
		flex-direction: column;
		flex-basis: 100px;
		justify-content: space-between;
		align-items: initial;
		margin: 0 auto;
		padding: 1rem;
		max-width: 240px;
		min-width: 50px;
		.list-container{
			display: flex;
			
		}
		li{
			display: flex;
		}
		
	}
	.card1{
		background: #f9f9f9;
		color: rgb(8, 8, 8);		
		flex-basis: 200px;
		position: relative;
		height: auto;
		border: none;
		z-index: 1;
		text-decoration: none;

		a{
			text-decoration: none;
		}

		.account{
			position: relative;
			display: inline-block;
			outline: none;
			font-family: inherit;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			overflow-wrap: normal;
			border: transparent;
			background-color: rgb(59, 73, 223);
			border-bottom-color: rgba(0, 0, 0, 0);
			border-bottom-left-radius : 5px;
			transition-delay: 0s;
			transition-duration: 0.1s;
			transition-property :all;
			transition-timing-function:cubic-bezier(0.17, 0.67, 0.5, 0.71);
			visibility: visible;
			width: 208px;
		}
	}

	.nav1{
		position: relative;
		background: #f9f9f9;
		color: rgb(8, 8, 8);		
		border: none;		
		z-index: 1;

		ul{
			display:flex;
			flex-direction: column;

			li{
				position: relative;
				align-items: center;
				
				a{
					align-items: initial;
				}

				i{
					position: relative;
					align-items: center;
				}
			}
		}
		
	}

	.nav2{
		background: #f9f9f9;
		color: rgb(8, 8, 8);
		position: relative;
		height: auto;
		border: none;
		text-decoration: none;
		z-index: 1;
	}

	.nav3{
		background: #f9f9f9;
		color: rgb(8, 8, 8);
		box-shadow: 0 0 0 0;
		position: relative;
		height: auto;
		border: none;
		text-decoration: none;
		z-index: 1;
		overflow-y: scroll;
		max-height: 42vh;

		a{
			text-decoration: none;
		}
	}

	.social_container{
		background: #f9f9f9;
		color: rgb(8, 8, 8);
		box-shadow: 0 0 0 1px;
		position: relative;
		height: auto;
		border: none;
		z-index: 1;
	}

	.shop{
		background: #f9f9f9;
		color: rgb(8, 8, 8);
		position: relative;
		border: none;
		z-index: 1;

		img {
			max-width: 200px;
		}
		
		a {
			text-decoration: none;
		}
	}
}

// Nav Mike
.navbar {
	background: #fff;
	height: 56px;
	max-width: 1280px;
	padding: 1rem;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	.left-part {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-align: center;

		.open-slide {
			margin: 0 1rem;
		}

		.logo-img {
			width: 50px;
			height: 45px;
			margin: 0 10px;
			border: none;
			border-radius: 3.5px;
		}
	}

	.right-part {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	background: #fff;
	height: 40px;
	border-radius: 40px;
	padding: 10px;	
	top: 0%;
	left: 40%;
}

.search-box:hover > .search-text {
	width: 200px;
	padding: 0 500px;
}

.search-box:hover > .search-btn {
	background: #fff;
}

.search-box input {
	border: 1px solid #e6e6e6;
	border-radius: 15px;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #000;
	font-size: 16px;
	transition: 1s ease;
	line-height: 40px;
	width: 0;
}

.search-btn {
	color: #333;
	// float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: 0.4s ease;
}

.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #fff;
	font-size: 16px;
	transition: 0.4s ease;
	line-height: 40px;
	width: 0;
}

.login {
	display: none;
}

.create-acc a {
	background: #3b49df;
	color: #fff;
	padding: 0.75rem 1rem;
	border: transparent;
	border-radius: 4px;
	margin: 0 10px;
	font-size: 0.875rem;
}

footer .footer-bg{
	background: #d6d6d7;
}

// .footer-container {
// 	
// }

@media only screen and (min-width: 600px) {
	// nav mike
	.open-slide {
		display: none;
	}

	.search-box {
		top: 40px;
		width: 240px;
	}

	.login {
		display: flex;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 768px)	{
	// nav mike
	.search-box {
		left: 30%;
		width: 240px;
	}
}

// @media only screen and (min-width: 1024px) {
// 	// general
// 	body {
// 		max-width: 1280px;
// 		margin-left: auto;
// 		margin-right: auto;
// 	}
// 	// nav mike
// 	.search-box {
// 		left: 35%;
// 	}
// }
