@import "stylesYesus";

body {
    background: #efefef;
    margin: 0;
    padding: 0;
    color: #090909;
    font-family: $font-sans;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    
    a {
        text-decoration: none;
        cursor: pointer;
    }
}

.nav-bar {    
    @include displayFlexDirectionDinamic(flex,row nowrap,space-between);
    width: 100%;
    position: sticky;
    background: white;
    max-height: 52px;
    img {
        width: 40px;
    }
}

.sidebar-right{
    //     box-sizing: border-box;
    //     flex-wrap: wrap;
    width: 325.328;
    //     border: 1px solid black;
    //     background-color: white;
    img {
        width: 80%;
    }
}
