// General

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Roboto', sans-serif;
}
body {
	background: #efefef;
}

.container {
	width: 100%;
	.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 1rem;
	}
}

// Nav Mike
.navbar {
	background: #fff;
	height: 80px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	.left-part {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		.open-slide {
			margin: 0 1rem;
		}

		.logo-img {
			width: 50px;
			height: 45px;
			margin: 0 10px;
			border: none;
			border-radius: 3.5px;
		}
	}
	.right-part {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	background: #fff;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
	right: 35%;
	top: 37px;
}

.search-box:hover > .search-text {
	width: 200px;
	padding: 0 10px;
}

.search-box:hover > .search-btn {
	background: #fff;
}

.search-box input {
	border: 1px solid #e6e6e6;
	border-radius: 15px;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #000;
	font-size: 16px;
	transition: 1s ease;
	line-height: 40px;
	width: 0;
}

.search-btn {
	color: #333;
	// float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: 0.4s ease;
}

.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #fff;
	font-size: 16px;
	transition: 0.4s ease;
	line-height: 40px;
	width: 0;
}

.login {
	display: none;
}

.create-acc a {
	background: #3b49df;
	color: #fff;
	padding: 0.75rem 1rem;
	border: transparent;
	border-radius: 4px;
	margin: 0 10px;
	font-size: 0.875rem;

}

footer .footer-bg{
	background: #d6d6d7;
}

// .footer-container {
// 	
// }

@media only screen and (min-width: 600px) {
	// nav mike
	.open-slide {
		display: none;
	}

	.search-box {
		top: 40px;
		width: 240px;
	}

	.login {
		display: flex;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 768px)	{
	// nav mike
	.search-box {
		left: 24%;
	}
}

@media only screen and (min-width: 1024px) {
	// general
	body {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
	// nav mike
	.search-box {
		left: 35%;
	}
}


